.videoPlayerControls{
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    height: 100px;
    z-index: 2;
    
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button{
        background: transparent;
        box-shadow: none;
        outline: none!important;
        border: none;
    }

    .videoProgress{
        position: relative;
        width: 70vw;
        height: 1px;
        background-color: rgba(0,0,0,0.2);
        margin: 0 10px;
        cursor: pointer;

        .videoProgressInput{
            position: absolute;
            width: 100%;
            opacity: 0; 
            margin-top: -10px;
            cursor: pointer;
        }

        .currentProgress{
            height: 100%;
            background-color: white;
            position: relative;
            transition: .1s linear;

            &:before{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: white;
                transition: .3s linear;
            }

        }

        
    }

    .volume{
        position: relative;
        width: 50px;
        top: 2px;
        left: 5px;
        cursor: pointer;

        &:hover{
           .progress{
            opacity: 2;
            transition: opacity .3s linear;
           }
        }

        .progress{
            position: relative;
            height: 2px; 
            top: -13px;           
            right: -23px;
            background-color: white;
            opacity: 0;
            transition: opacity .3s linear;

            &:hover{
                opacity: 1;
                transition: .3s linear;
            }

            &:before{
                content: '';
                position: absolute;
                width: 47px;
                background-color: grey;
                height: 2px;
                z-index: 0;
                opacity: .3;
            }
        }

        input{
            width: 50px;
            height: 30px;
            position: absolute;      
            top: -4px;    
            right: -23px;
            width: 100%;  
            opacity: 0;  
            cursor: pointer;           
        }
    }
   

    *{
        color: white;
    }
}
