@import '../../../styles/variables.scss';

.button {
    position: relative;
    z-index: 1;
    width: 236px;
    padding: 16px 0px;
    color: $white;
    border-radius: 48px;
    background-color: $black;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: $font-Kharkiv;
    letter-spacing: 1px;
    background: transparent;
    border: 1px solid $white;

    &:before, &:after {
        transition: .25s linear;
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        background-color: $purple-dark;
        width: 0px;
    }

    &:hover {

        &:before, &:after {
            transition: .25s linear;
            width: 100px;
        }
    }

    img {
        width: 14px;
        height: 14px;
        margin-right: 10px;
    }
}