@import "../../../styles/variables.scss";


.contactInfo {
    display: flex;
    flex-direction: column;

    a:hover {
        color: $white;
    }

    .email,
    .phone {
        font-family: $font-Kharkiv;
        font-size: 28px;
        color: $white;
        margin-bottom: 35px;
    }

    .socialLinksTitle {
        color: $white;
        font-family: $font-Light;
        font-size: 18px;
        letter-spacing: .5px;
        margin-bottom: 15px;
    }

    .socialLink {
        position: relative;
        padding: 12px 4px;
        text-align: center;
        color: $white;
        font-family: $font-Light;
        font-size: 16px;
        background: rgba(255, 255, 255, 0.2);
        background: transparent;
        border-radius: 35px;
        transition: $default-hover-transition;
        font-family: $font-Light;
        font-size: 14px;
        letter-spacing: 1px;
        display: block;
        cursor: pointer;

        .linkIconContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $purple-dark;
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .socialLink {
            -webkit-backdrop-filter: saturate(180%) blur(10px);
            backdrop-filter: saturate(180%) blur(10px);
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.contactForm {

    .inputContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            bottom: 0;
            background-color: $purple-dark;
            transition: $default-hover-transition;
            z-index: 1;
        }

        &:hover {
            &::before {
                width: 100%;
                transition: $default-hover-transition;
            }
        }

        svg {
            position: absolute;
            left: 0;
            top: 5px;
            color: $purple-dark;
            transition: $default-hover-transition;
        }

        input,
        textarea {
            position: relative;
            color: $white;
            font-family: $font-Light;
            letter-spacing: .5px;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            padding: 0 0 5px 30px;

            &:focus {
                box-shadow: 0;
                outline: none;
            }

            &::placeholder {
                font-family: $font-Kharkiv;
                font-weight: 400;
                color: $white;
                font-size: 13px;
            }
        }

        textarea {
            &::placeholder {
                padding-top: 3px;
            }
        }
    }

    .sendButton {
        max-width: 300px;
        padding: 12px 14px;
        border-radius: 30px;
        background-color: $purple-dark;
        border: 1px solid $purple-dark;
        box-shadow: none;
        outline: none;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: $font-Kharkiv;
        transition: $default-hover-transition;

        &:hover {
            background-color: transparent;
            -webkit-box-shadow: 0px 6px 22px -1px rgba(111, 43, 255, 1);
            -moz-box-shadow: 0px 6px 22px -1px rgba(111, 43, 255, 1);
            box-shadow: 0px 6px 22px -1px rgba(111, 43, 255, 1);
            transition: $default-hover-transition;
        }
    }
}

.footerYear {
    position: absolute;
    bottom: 25px;
}

.succededMessage {
    color: $white;
    font-family: $font-Kharkiv;
    letter-spacing: 1px;
}

@media screen and (max-width: $mobile-view-width) {

    .contantFormRow {
        height: 100% !important;
    }


    .contactInfo {

        .email,
        .phone {
            font-size: 16px;
            margin: 5px 0;
        }

        .socialLink {
            padding: 8px 0px 8px 10px;
            font-size: 12px;

            .linkIconContainer {
                width: 25px;
                height: 25px;
                left: 5px;
            }
        }
    }

    .contactForm {
        .inputContainer {
            margin-bottom: 25px;
        }
    }

    .footerYear {
        position: absolute;
        bottom: 195px;
        text-align: end;
    }
}
