@import '../../../styles/variables.scss';

.navigationContainer {
    position: fixed;
    width: 100px;
    transition: all 1000ms;
    z-index: 100;
    right: 0px;

    .navigationBurger {
        width: 100%;
        height: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        cursor: pointer;
        top: -4px;

        .navigationBurgerLine {
            position: absolute;
            width: 40%;
            height: 2px;            
            background-color: $purple-dark;
            transition: all 1000ms ease;
            opacity: 1;
            right: 30px;

            &:nth-child(2){
                top: 10px;
            }
        }

        &:hover ul {
            right: -10px;
            opacity: 1;
            transition: all 1000ms ease;
        }

        &:hover {

            .navigationBurgerLine {   
                right: -100px;            
                opacity: 0;
                transition: all 1000ms ease;
            }


        }

    }

    ul {
        position: relative;
        top: 0px;
        right: -150px;
        opacity: 0;
        list-style: none;
        padding: 0;
        transition: all 1000ms ease;           


        li {
            display: block;
            cursor: pointer;
            position: relative;
            transition: all 1000ms ease;
            font-size: 13px;           
            font-family: $font-Kharkiv;
            padding-top: 5px;

            &:hover {
                color: $purple-dark !important;
                transition: all 1000ms ease;
            }
        }
    }
}

.mobileNavigationToggleBurgerButton{
    position: sticky;
    border: none;
    top: 12px;    
    left: calc(100svw - 55px);
    width: 40px;
    height: 40px;
    z-index: 9999;
    outline: none;
    transition: all 1000ms;
    cursor: pointer;
    background-color: transparent;

    span{
        display: block;
        width: 100%;
        height: 1px;
        background-color: $purple-dark;

        &:last-child{
            position: relative;
            top: 6px;
        }
    }
}

.mobileNavigation{
    position: sticky;
    width: 100vw;
    height: calc(100svh - $section-xs-padding);
    transition: all 1000ms ease;   
    right: 0px;
    z-index: 200;    
    backdrop-filter: blur(10px);   
    background: rgba(0, 0, 0, 0.5);
    top: 0!important;


    .mobileNavigationCloseButton{
        position: absolute;
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 50%;
        top: 35px;
        right: 35px;
        background-color: transparent;
        cursor: pointer;

        &:before, &:after{
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            top: 50%;
            left: 50%;
            background-color: white;
        }

        &::before{
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &::after{
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
}


