@import '../../../styles/variables.scss';

.header{
    position: absolute;
    top: $showreel-y-space;
    z-index: 1;
    height: 80px;
    padding: 0 0; 
    background-color: transparent;

    // .logo{
    //     width: 120px;
    //     height: 100px;
    //     position: absolute;
    //     top: -37px;
    // }

    .logo{
        width: 400px;
    height: 400px;
    position: absolute;
    top: -185px;
    left: -125px;
    }
}
