@import '../../../styles/variables.scss';

.header {
    position: absolute;
    top: $showreel-y-space;
    z-index: 1;
    height: 80px;
    padding: 0 0;
    background-color: transparent;

    .logo {
        width: 350px;
        height: 250px;
        position: absolute;
        top: -205px;
        left: -200px;
    }    

}

@media screen and (max-width: $mobile-view-width){
    .header{
        top: 30px;

        .logo{
            top: -210px;
            left: -130px;
        }
    }
}
