@import '../../../styles/variables.scss';

.showreelSliderContainer {
    width: 100%;
    transition: .5s ease;
    position: absolute;
}

.showreel {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &Logo {
        z-index: 1;
        width: 400px;
    }

    .shadow {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.55);
    }

    h1 {
        text-transform: uppercase;
        z-index: 1;
        color: $white;
    }

    .footer {
        z-index: 4;
        position: absolute;
        bottom: $showreel-y-space;
        width: 100vw;
        height: 115px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        p {
            max-width: 500px;
            color: $white;
            font-family: $font-Kharkiv;
            font-size: 18px;
            letter-spacing: 1px;
        }

        .tags {
            padding: 0;
            display: flex;
            list-style: none;

            li {
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }
            }

            li>a {
                height: 40px;
                padding: 8px 16px;
                letter-spacing: 1px;
                color: $white;
                font-family: $font-Kharkiv;
                font-size: 12px;
                border-radius: 36px;
                backdrop-filter: blur(30px);
                background: rgba(255, 255, 255, 0.1);
            }
        }

    }

}

.showreelBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $black;
}

.showreelControls {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}

.DNAtitle {
    position: relative;
    font-family: $font-Kharkiv;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: $white;
    left: 39.2%;
    top: -5px;
    text-transform: uppercase;

    &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 90px;
        left: -110px;
        top: 50%;
        transform: translateY(-50%);
        background: $white;
    }
}

.skipButton {
    padding: 0 30px;
    position: relative;
    width: 2px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        top: 0;
        opacity: 0;
        height: 100%;
        background-color: $white;
        animation: skipDown 3s cubic-bezier(.25, 0, .25, 1) infinite forwards;
    }

    &::after {
        content: '';
        position: absolute;
        width: 2px;
        top: 0;
        opacity: 0;
        height: 100%;
        background-color: $white;
        animation: skipUp 3s cubic-bezier(.25, 0, .25, 1) infinite forwards;
    }

}


@media screen and (max-width: $mobile-view-width) {
    .showreelLogo {
        width: 300px;
    }

    .skipButton {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer {
        .tags {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 15px;

            li {
                margin-right: 0;
                margin-bottom: 15px;
            }

            li:first-child {
                align-self: flex-start;
            }

            li:last-child {
                align-self: flex-end;
            }
        }
    }
}


@keyframes skipDown {
    0% {
        width: 2px;
        opacity: 1;
        transform: translateY(-60px);
    }

    50% {
        width: 2px;
        opacity: 1;
        transform: translateY(0px);
    }

    51% {
        width: 0;
        opacity: 0;
    }

    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes skipUp {
    0% {
        width: 0;
        opacity: 0;
        transform: translateY(0px);
    }

    49% {
        width: 0;
        opacity: 0;
    }

    50% {
        width: 2px;
        opacity: 1;
    }

    51% {
        transform: translateY(0px);
    }

    100% {
        width: 2px;
        opacity: 1;
        transform: translateY(60px);
    }
}
