
// SFPro
@font-face {
    font-family: 'SFProDisplay-Black';
    src: local('SFProDisplay'), url(../src/fonts/sfpro/SFProDisplay-Black.ttf) format('opentype');
}

@font-face {
    font-family: 'SFProDisplay-Bold';
    src: local('SFProDisplay'), url(../src/fonts/sfpro/SFProDisplay-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'SFProDisplay-Heavy';
    src: local('SFProDisplay'), url(../src/fonts/sfpro/SFProDisplay-Heavy.ttf) format('opentype');
}

@font-face {
    font-family: 'SFProDisplay-Light';
    src: local('SFProDisplay'), url(../src/fonts/sfpro/SFProDisplay-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'SFProDisplay-Medium';
    src: local('SFProDisplay'), url(../src/fonts/sfpro/SFProDisplay-Medium.ttf) format('opentype');
}

@font-face {
    font-family: 'SFProDisplay-Regular';
    src: local('SFProDisplay'), url(../src/fonts/sfpro/SFProDisplay-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'SFProDisplay-Semibold';
    src: local('SFProDisplay'), url(../src/fonts/sfpro/SFProDisplay-Semibold.ttf) format('opentype');
}

@font-face {
    font-family: 'SFProDisplay-Thin';
    src: local('SFProDisplay'), url(../src/fonts/sfpro/SFProDisplay-Thin.ttf) format('opentype');
}

@font-face {
    font-family: 'SFProDisplay-Ultralight';
    src: local('SFProDisplay'), url(../src/fonts/sfpro/SFProDisplay-Ultralight.ttf) format('opentype');
}

@font-face {
    font-family: 'Kharkiv Tone';
    src: local('Kharkiv Tone'), url(../src/fonts/DIMASIK.ttf) format('opentype');
}

// NEUE MACHINA
@font-face {
    font-family: 'NeueMachina-Light';
    src: local('NeueMachina-Light'), url(../src/fonts/neue-machina/NeueMachina-Light.otf) format('opentype');
}

@font-face {
    font-family: 'NeueMachina-Regular';
    src: local('NeueMachina-Regular'), url(../src/fonts/neue-machina/NeueMachina-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'NeueMachina-Ultrabold';
    src: local('NeueMachina-Regular'), url(../src/fonts/neue-machina/NeueMachina-Ultrabold.otf) format('opentype');
}

