@import './variables.scss';
@import './fonts.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-Regular;
  overflow: hidden;

  &::-webkit-scrollbar{
    display: none;
  }
}
main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, button {
  color: inherit;
  text-decoration: none!important;
  transition: .2s linear;
}

a:hover, button:hover{
  transition: .2s linear;
}

h1{
  font-size: 54px;
  font-family: $font-neue-Light;
}

h2{
  font-size: 54px;
  font-family: $font-Kharkiv;
}

p, ul{
  margin-bottom: 0;
}

.section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slick-slider{
  width: 100%;
}

.slick-list{
  width: 100%;
}

.slick-initialized .slick-slide{
  display: flex;
  justify-content: center;
  width: 550px!important;
  margin-left: 120px;
  opacity: 0;
  transition: .25s ease-out;
}

.slick-slide.slick-active,
.slick-slide.slick-active ~ .slick-slide{
  opacity: 1;
  transition: .25s ease-in;
}

.slick-slide[data-index="0"]{
  margin-left: 120px;
}

.slick-slide[data-index="1"],
.slick-slide[data-index="2"]{
  margin-left: 110px;
}

// hide last cloned
.slick-slide[data-index="3"]{
  opacity: 0!important;
}
