@import './variables.scss';
@import './fonts.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-Regular;
  overflow: hidden;

  &::-webkit-scrollbar{
    display: none;
  }
}
main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#mobile-prevent{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: $black;
  color: $white;
  font-family: $font-Kharkiv;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, button {
  color: inherit;
  text-decoration: none!important;
  transition: .2s linear;
}

a:hover, button:hover{
  transition: .2s linear;
}

h1{
  font-size: 54px;
  font-family: $font-neue-Light;
}

h2{
  font-size: 54px;
  font-family: $font-Kharkiv;
}

p, ul{
  margin-bottom: 0;
}

.section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &.black{
    background-color: $black;
    div[class*='sectionTitleContainer']{
      h2{
        color: $white;

        span[class*='topLine'],
        span[class*='bottomLine']{
          background-color: $white;
        }

        span[class*='topCircle'], 
        span[class*='bottomCircle']{
          background-color: $white;

          &:before{
            background-color: $white;
          }
        }
      }

      span[class*='subtitle']{
        color: $section-subtitle-dark;
      }

    }
  }

  &.white{
    background-color: $white;
    div[class*='sectionTitleContainer']{
      h2{
        color: $black;

        span[class*='topLine'], 
        span[class*='bottomLine']{
          background-color: $black;
        }

        span[class*='topCircle'], 
        span[class*='bottomCircle']{
          background-color: $black;

          &:before{
            background-color: $black;
          }
        }
      }

      span[class*='subtitle']{
        color: $section-subtitle-white;
      }

    }
  }
}

.DNASlider .slick-slider{
  width: 100%;
}

.DNASlider .slick-list{
  width: 100%;
}

.DNASlider .slick-initialized .slick-slide{
  display: flex;
  justify-content: center;
  width: 550px!important;
  margin-left: 120px;
  opacity: 0;
  transition: .25s ease-out;
}

.DNASlider .slick-slide.slick-active,
.DNASlider .slick-slide.slick-active ~ .slick-slide{
  opacity: 1;
  transition: .25s ease-in;
}

.DNASlider .slick-slide[data-index="0"]{
  margin-left: 120px;
}

.DNASlider .slick-slide[data-index="1"],
.DNASlider .slick-slide[data-index="2"]{
  margin-left: 110px;
}

// hide last cloned
.DNASlider .slick-slide[data-index="3"]{
  opacity: 0!important;
}

.slick-initialized .slick-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-arrow{
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid $black;
  transition: border-color $default-hover-transition;

  &:hover{
    transition: border-color $default-hover-transition;
    border-color: $purple-dark;

    &:before, &:after{
      transition: background-color $default-hover-transition;
      background-color: $purple-dark;
    }
  }

  &.slick-prev{
    left: -40px;
  }

  &.slick-next{
    right: -40px;
    transform-origin: center;
    transform: rotate(180deg);
  }

  &:before, &:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: $black;
    transition: background-color $default-hover-transition;
  }


  &:before{
    top: 50%;
    left: 50%;
    transform-origin: left;
    transform: translate(-50%, -50%) rotate(-45deg)
  }

  &:after{
    top: 50%;
    left: 50%;
    transform-origin: left;
    transform: translate(-50%, -50%) rotate(45deg)
  }

}

.slick-dots{
  bottom: -50px;
 
  li{
    margin: 0;

    &.slick-active {
      button{
        &:before{
          color: $purple-dark;
        }
      }
    }
  }
}

.back-to-home{
	position: absolute;
	top: 50px;
	right: 50px;
	cursor: pointer;
	width: 45px;
	height: 45px;
	border-radius: 50%;	
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 1px solid $purple-dark;
	color: $purple-dark;
	transition: .25s linear;

	&:hover{
		background-color: $purple-dark;
		color: $white;
		transition: .25s linear;
	}
}



:root {
	// --hue: 223;
	--hue: 10;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	// font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

.lp {
	width: 8em;
	height: 8em;
}

.showreel-video .lp{
	margin-right: 20px;
}

.lp__drops,
.lp__fall-line,
.lp__worm {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	transform-origin: 64px 64px;
}
.lp__drops {
	animation-name: drops;
	animation-timing-function: ease-in-out;
	stroke-dasharray: 22 307.85 22;
	visibility: hidden;
	transform: rotate(90deg);
}
.lp__fall-line {
	animation-name: fallLine1;
	animation-timing-function: ease-in;
	stroke-dasharray: 1 112;
	stroke-dashoffset: 114;
}
.lp__fall-line--delay1 {
	animation-name: fallLine2;
}
.lp__fall-line--delay2 {
	animation-name: fallLine3;
}
.lp__fall-line--delay3 {
	animation-name: fallLine4;
}
.lp__fall-line--delay4 {
	animation-name: fallLine5;
}
.lp__ring {
	stroke: hsla(var(--hue),90%,5%,0.1);
	transition: stroke 0.3s;
}
.lp__worm {
	animation-name: worm;
	stroke-dasharray: 43.98 307.87;
	stroke-dashoffset: -131.94;
	transform: rotate(-90deg);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.lp__ring {
		stroke: hsla(var(--hue),90%,95%,0.1);
	}
}

/* Animtions */
@keyframes drops {
	from {
		animation-timing-function: steps(1,end);
		stroke-dasharray: 0 351.85 0;
		visibility: hidden;
	}
	25% {
		animation-timing-function: ease-in-out;
		stroke-dasharray: 0 351.85 0;
		visibility: visible;
	}
	26% {
		stroke-dasharray: 4 343.85 4;
	}
	27% {
		stroke-dasharray: 8 335.85 8
	}
	28% {
		stroke-dasharray: 12 327.85 12;
	}
	29% {
		animation-timing-function: ease-in;
		stroke-dasharray: 17 317.85 17;
	}
	32% {
		animation-timing-function: ease-out;
		stroke-dasharray: 25 301.85 25;
	}
	35%,
	47.5% {
		animation-timing-function: linear;
		stroke-dasharray: 22 307.85 22;
		visibility: visible;
	}
	50% {
		animation-timing-function: steps(1,end);
		stroke-dasharray: 0 307.85 43.98;
		visibility: hidden;
	}
	75% {
		animation-timing-function: ease-in-out;
		stroke-dasharray: 0 351.85 0;
		visibility: visible;
	}
	76% {
		stroke-dasharray: 4 343.85 4;
	}
	77% {
		stroke-dasharray: 8 335.85 8
	}
	78% {
		stroke-dasharray: 12 327.85 12;
	}
	79% {
		animation-timing-function: ease-in;
		stroke-dasharray: 17 317.85 17;
	}
	82% {
		animation-timing-function: ease-out;
		stroke-dasharray: 25 301.85 25;
	}
	85%,
	97.5% {
		animation-timing-function: linear;
		stroke-dasharray: 22 307.85 22;
		visibility: visible;
	}
	to {
		stroke-dasharray: 43.98 307.85 0;
		visibility: hidden;
	}
}
@keyframes fallLine1 {
	from,
	15% {
		stroke-dashoffset: 114;
	}
	25%,
	65% {
		stroke-dashoffset: 1;
	}
	75%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine2 {
	from,
	16% {
		stroke-dashoffset: 114;
	}
	26%,
	66% {
		stroke-dashoffset: 1;
	}
	76%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine3 {
	from,
	17% {
		stroke-dashoffset: 114;
	}
	27%,
	67% {
		stroke-dashoffset: 1;
	}
	77%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine4 {
	from,
	18% {
		stroke-dashoffset: 114;
	}
	28%,
	68% {
		stroke-dashoffset: 1;
	}
	78%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes fallLine5 {
	from,
	19% {
		stroke-dashoffset: 114;
	}
	29%,
	69% {
		stroke-dashoffset: 1;
	}
	79%,
	to {
		stroke-dashoffset: -112;
	}
}
@keyframes worm {
	from {
		animation-timing-function: ease-out;
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -131.94;
	}
	25% {
		animation-timing-function: steps(1);
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -307.86;
	}
	25.01% {
		animation-timing-function: ease-in;
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -307.86;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -175.92;
	}
	50.01% {
		animation-timing-function: ease-out;
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: -131.94;
	}
	75% {
		animation-timing-function: steps(1);
		stroke-dasharray: 87.96 307.87;
		stroke-dashoffset: 43.98;
	}
	75.01% {
		animation-timing-function: ease-in;
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: 0;
	}
	to {
		stroke-dasharray: 43.98 307.87;
		stroke-dashoffset: -131.94;
	}
}