// colors
$white: #ffffff;
$black: #000000;

$purple-light: #C7ACFE;
$purple-dark: #6F2BFF;

$grey-light: #CECECE;
$grey-dark: #7D7D7D;

// fonts
$gilroy-bold: 'Gilroy-Bold', sans-serif;
$gilroy-heavy: 'Gilroy-Heavy', sans-serif;
$gilroy-light: 'Gilroy-Light', sans-serif;
$gilroy-medium: 'Gilroy-Medium', sans-serif;
$gilroy-regular: 'Gilroy-Regular', sans-serif;
