// colors
$white: #ffffff;
$black: #000000;

$purple-light: #C7ACFE;
$purple-dark: #6F2BFF;

$grey-light: #CECECE;
$grey-dark: #7D7D7D;
$grey-darkness: #6B6B6B;
$feedback-bg: #f8f8f8;

$section-subtitle-white: rgba(227, 227, 227, 0.3); 
$section-subtitle-dark: rgba(227, 227, 227, 0.05); 
$mobile-view-width: 960px;
$tablet-view-width: 1140px;
$desktop-view-width: 1320px;

// Fonts
// Kharkiv
$font-Kharkiv: 'Kharkiv Tone';

// SFPro
$font-Black: 'SFProDisplay-Black', sans-serif;
$font-Bold: 'SFProDisplay-Bold', sans-serif;
$font-Heavy: 'SFProDisplay-Heavy', sans-serif;
$font-Light: 'SFProDisplay-Light', sans-serif;
$font-Medium: 'SFProDisplay-Medium', sans-serif;
$font-Regular: 'SFProDisplay-Regular', sans-serif;
$font-Semibold: 'SFProDisplay-Semibold', sans-serif;
$font-Thin: 'SFProDisplay-Thin', sans-serif;
$font-Ultralight: 'SFProDisplay-Ultralight', sans-serif;

// NEUE MACHINA
$font-neue-Light: 'NeueMachina-Light';
$font-neue-Regular: 'NeueMachina-Regular';
$font-neue-Ultrabold: 'NeueMachina-Ultrabold';

// Spacings
$showreel-y-space: 35px;

// Sizes
$section-title-height: 238px;

// Transitions
$default-hover-transition: .25s linear;

