@import "../../../styles/variables.scss";

.clientsContainer{    
    height: calc(100vh - $section-title-height);

    .client{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        border-radius: 10px;

        img{
            max-width: 65%;
        }
        // border: 1px solid $grey-dark;
    }
}

@media screen and (max-width: $mobile-view-width ) {
    .clientsContainer{
        height: calc((100vh - $section-title-height) - $section-xs-padding);
    }
}
